* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111827;
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-container {
    width: 90%;
    max-width: 900px;
    text-align: center;
}

.game-title {
    font-size: 4rem;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 40px;
    font-size: 1.2rem;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.team {
    border: none;
    padding: 25px;
    border-radius: 12px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.red {
    background: #d32f2f;
}

.yellow {
    background: #f9a825;
}

.green {
    background: #388e3c;
}

.blue {
    background: #1976d2;
}

.selected-team {
    margin-top: 25px;
    font-size: 1.2rem;
}

.continue-btn {
    margin-top: 25px;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    background: #00d4ff;
    font-weight: bold;
    cursor: pointer;
}

.continue-btn:disabled {
    opacity: 0.5;
}

.player-input{
    width:100%;
    max-width:500px;

    padding:16px;

    margin:25px auto;

    display:block;

    border:none;
    border-radius:12px;

    font-size:1.1rem;

    background:#1f2937;
    color:white;
}

.player-input:focus{
    outline:none;
    box-shadow:0 0 15px #00d4ff;
}

.rules-box{
    max-width:700px;
    margin:30px auto;
    padding:30px;
    border-radius:20px;
    background:#1f2937;
    text-align:left;
}

.rules-box p{
    margin:15px 0;
    font-size:1.1rem;
}

